@import url('https://fonts.googleapis.com/css?family=Merienda+One|Rochester');
.menu {
  max-width: 300px;
  max-height: 200px;
}

.menu-header {
  font-family: 'Merienda One', cursive;
  cursor: pointer;
}

.menu-item_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  white-space: nowrap;
  text-decoration: none;
  font-family: 'Rochester', cursive;
  cursor: pointer;
}

.menu-item_spacer {
  flex-shrink: 10;
  overflow: hidden;
  margin: 0 1rem;
}

.menu-item_spacer:after {
  content: "................................................";
}