.sticky-list {
  height: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.sticky-list_container {
  overflow: auto;
  -ms-overflow-style: none;
}


.sticky-list_container-bothshadow {
  border-top: 2px solid transparent;
  background: radial-gradient(at top, rgba(0,0,0,.2), transparent 75%) 0 0 / 100% .4rem,
              radial-gradient(at bottom, rgba(0,0,0,.2), transparent 75%) bottom / 100% .4rem;
  background-repeat: no-repeat;
  background-attachment: scroll scroll;
}

.sticky-list_container-topshadow {
  border-top: 2px solid transparent;
  background: radial-gradient(ellipse at top, rgba(0,0,0,.2), transparent 75%) 0 0 / 100% .4rem;
  background-repeat: no-repeat;
}

.sticky-list_container-bottomshadow {
  border-top: 2px solid transparent;
  background: radial-gradient(ellipse at bottom, rgba(0,0,0,.2), transparent 75%) bottom / 100% .4rem;
  background-repeat: no-repeat;
}



.sticky-list_container::-webkit-scrollbar { 
  width: 0 !important 
}

@-moz-document url-prefix() { /* FF win */
 .sticky-list_container {
   width: 100px;
 }
}

@supports (-moz-osx-font-smoothing:auto) { /* FF MAC */
 .stick-list_container {
   width: 85px;
 }
}


/* 
.sticky-accordion {
 height: 200px;
 display: flex;
 flex-flow: column nowrap;
 justify-content: space-between;
 overflow-x: hidden;
 width: 68px;
 
 &_container {
   max-height: 200px;
   overflow-y: auto;
   white-space: nowrap;
   width: 85px;
   padding-right: 17px;

   &::-webkit-scrollbar { width: 0 !important }
   -ms-overflow-style: none;
 }
}

@-moz-document url-prefix() {
   .sticky-accordion {
     &_container {
       width: 100px;

       @supports (-moz-osx-font-smoothing:auto) { 
         width: 85px;
       }
     }
 }
} */